@model SaqueNaWeb.Models.Log

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<a>Bem vindo</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
